:root {
    --font-family-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --font-family-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

$dark: #000000;
$light: #ffffff;
$grad: radial-gradient(circle, #e8e4dd 0%, #c9c0ad 50%, #a0957c 100%);
$btn-main: #a0957c;
$btn-shadow: #000000;
$ui-active: #bfabab;
$ui-error: #DB0C35;

$container-width: 1440px;