@import '../../app/styles/variables';

.footer {
    background: $grad;
    height: 150px;
    padding: 20px 0;

    nav {
        display: flex;
        justify-content: center;
        gap: 0px;
        align-items: center;
        margin: 20px 0 50px 0;

        a {
            color: $light;
            text-decoration: none;
            font-size: 18px;
            font-weight: 500;
            padding: 10px 20px;
            border-radius: 3px;
            transition: all 0.3s ease;

            &:hover {
                background-color: $btn-main;
                transform: translateY(-3px);
                box-shadow: 0 8px 25px rgba($btn-shadow, 0.25);
            }
        }
    }
}

@media screen and (max-width: 790px) {
    .footer {
        height: 330px;

        nav {
            flex-direction: column;
        }
    }
}