@import '../../app/styles/variables';

.header {
    background: url('../../shared/assets/img/about/Main.jpg') center (center/cover) no-repeat;
    height: 640px;
    padding: 20px 0 0 0;

    nav {
        display: flex;
        justify-content: center;
        gap: 0px;
        align-items: center;

        a {
            color: $light;
            text-decoration: none;
            font-size: 18px;
            font-weight: 500;
            padding: 10px 20px;
            border-radius: 3px;
            transition: all 0.3s ease;

            &:hover {
                background-color: $btn-main;
                transform: translateY(-3px);
                box-shadow: 0 8px 25px rgba($btn-shadow, 0.25);
            }
        }
    }
}

h2,
h3 {
    color: $light;
    font-size: 24px;
    font-weight: 400;
    // margin: 100px 0px 41px 0;
    text-align: center;
}

.title_header h2 {
    color: $light;
    font-size: 40px;
    font-weight: 400;
    margin: 110px 0px 41px 0;
    text-align: center;
}

.title_mg {
    margin-top: 80px;
}