@import '../../app/styles/variables';

.container {
    display: block;
    max-width: 620px;
    margin: 120px auto 150px auto;
}

p {
    color: $dark;
    font-size: 18px;
    font-weight: 400;
}

.paragraph_first {
    margin: 41px 0 20px 0;
    line-height: 1.9;
    text-align: center;
    hyphens: manual;
    word-spacing: -0.5px;
    letter-spacing: 0.6px;
}

.paragraph_second {
    line-height: 1.9;
    text-align: center;
    hyphens: manual;
    word-spacing: -0.5px;
    letter-spacing: 0.6px;
}

.title_home {
    color: $dark;
    font-size: 26px;
    margin: 41px 0px 41px 0;
    text-align: center;
}