@import '../../app/styles/variables';

.container {
    display: block;
    width: 590px;
    margin: 0 auto 100px auto;
}

p {
    color: $dark;
    font-size: 18px;
    font-weight: 400;
}

.paragraph {
    margin-bottom: 16px;
    line-height: 1.6;
}

.title {
    font-size: 26px;
    margin: 41px 0px 41px 0;
    text-align: center;
}