@import '../../../app/styles/variables.scss';

.decoratedTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
}

.line {
    width: 60px;
    height: 2px;
    background-color: $dark;
}

.icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    color: $dark;
}

.title {
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: $dark;
}