@import '../../app/styles/variables';

.country {
    width: 865px;
    margin: 80px auto;
    padding: 0;

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 80px;
    }

    &__photo {
        display: block;
        width: 392px;
        height: 355px;
        object-fit: cover;
        max-width: 100%;
        object-position: center;
    }

    &__title {
        margin: 0 0 20px 0;
        padding: 0 auto;
        color: $dark;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
    }

    &__mg_text {
        margin-top: 25px;

        p:nth-child(3) span {
            font-weight: 500;
            font-size: 24px;
        }
    }

    p {
        font-size: 14px;
        color: $dark;
        line-height: 1.7;
        text-align: left;
        hyphens: manual;
        word-spacing: -0.5px;
        letter-spacing: normal;

        span {

            font-weight: 900;
        }
    }
}